{% extends "layout.twig" %}

{% block body %}
	<main class="container mt-3">
		<h1>{{ title }}</h1>
		<div class="row d-flex justify-content-around">
			<form method="POST" action="/booking" class="bg-light shadow p-4 mb-5 rounded text-center" scope="col">
				<h1 name="day">Monday</h1>
				<div class="{% if monday|length == '' %}justify-content-around {% else %}flex-column{% endif %} d-flex mt-3">
					<input type="hidden" name="booking_day" value="monday">
					{% if monday|length %}
						<span class="badge badge-pill badge-secondary col">{{ monday }}</span>
						<button value="cancelled" name="booking_time" class="mt-2 btn btn-primary btn-dark bg-danger text-light btn-outline-danger">Cancel Flight</button>
					{% else %}
						<button value="morning" name="booking_time" class="btn btn-primary btn-dark">Morning</button>
						<button value="midday" name="booking_time" class="btn btn-primary btn-dark mx-2">Midday</button>
						<button value="evening" name="booking_time" class="btn btn-primary btn-dark">Evening</button>
					{% endif %}
				</div>
			</form>
			<form method="POST" action="/booking" class="bg-light shadow p-4 mb-5 mx-2 rounded text-center" scope="col">
				<h1 name="day">Tuesday</h1>
				<div class="{% if tuesday|length == '' %}justify-content-around {% else %}flex-column{% endif %} d-flex mt-3">
					<input type="hidden" name="booking_day" value="tuesday">
					{% if tuesday|length %}
						<span class="badge badge-pill badge-secondary col">{{ tuesday }}</span>
						<button value="cancelled" name="booking_time" class="mt-2 btn btn-primary btn-dark bg-danger text-light btn-outline-danger">Cancel Flight</button>
					{% else %}
						<button value="morning" name="booking_time" class="btn btn-primary btn-dark">Morning</button>
						<button value="midday" name="booking_time" class="btn btn-primary btn-dark mx-2">Midday</button>
						<button value="evening" name="booking_time" class="btn btn-primary btn-dark">Evening</button>
					{% endif %}
				</div>
			</form>
			<form method="POST" action="/booking" class="bg-light shadow p-4 mb-5 mx-2 rounded text-center" scope="col">
				<h1 name="day">Wednesday</h1>
				<div class="{% if wednesday|length == '' %}justify-content-around {% else %}flex-column{% endif %} d-flex mt-3">
					<input type="hidden" name="booking_day" value="wednesday">
					{% if wednesday|length %}
						<span class="badge badge-pill badge-secondary col">{{ wednesday }}</span>
						<button value="cancelled" name="booking_time" class="mt-2 btn btn-primary btn-dark bg-danger text-light btn-outline-danger">Cancel Flight</button>
					{% else %}
						<button value="morning" name="booking_time" class="btn btn-primary btn-dark">Morning</button>
						<button value="midday" name="booking_time" class="btn btn-primary btn-dark mx-2">Midday</button>
						<button value="evening" name="booking_time" class="btn btn-primary btn-dark">Evening</button>
					{% endif %}
				</div>
			</form>
			<form method="POST" action="/booking" class="bg-light shadow p-4 mb-5 mx-2 rounded text-center" scope="col">
				<h1 name="day">Thursday</h1>
				<div class="{% if thursday|length == '' %}justify-content-around {% else %}flex-column{% endif %} d-flex mt-3">
					<input type="hidden" name="booking_day" value="thursday">
					{% if thursday|length %}
						<span class="badge badge-pill badge-secondary col">{{ thursday }}</span>
						<button value="cancelled" name="booking_time" class="mt-2 btn btn-primary btn-dark bg-danger text-light btn-outline-danger">Cancel Flight</button>
					{% else %}
						<button value="morning" name="booking_time" class="btn btn-primary btn-dark">Morning</button>
						<button value="midday" name="booking_time" class="btn btn-primary btn-dark mx-2">Midday</button>
						<button value="evening" name="booking_time" class="btn btn-primary btn-dark">Evening</button>
					{% endif %}
				</div>
			</form>
			<form method="POST" action="/booking" class="bg-light shadow p-4 mb-5 mx-2 rounded text-center" scope="col">
				<h1 name="day">Friday</h1>
				<div class="{% if friday|length == '' %}justify-content-around {% else %}flex-column{% endif %} d-flex mt-3">
					<input type="hidden" name="booking_day" value="friday">
					{% if friday|length %}
						<span class="badge badge-pill badge-secondary col">{{ friday }}</span>
						<button value="cancelled" name="booking_time" class="mt-2 btn btn-primary btn-dark bg-danger text-light btn-outline-danger">Cancel Flight</button>
					{% else %}
						<button value="morning" name="booking_time" class="btn btn-primary btn-dark">Morning</button>
						<button value="midday" name="booking_time" class="btn btn-primary btn-dark mx-2">Midday</button>
						<button value="evening" name="booking_time" class="btn btn-primary btn-dark">Evening</button>
					{% endif %}
				</div>
			</form>
			<form method="POST" action="/booking" class="bg-light shadow p-4 mb-5 mx-2 rounded text-center" scope="col">
				<h1 name="day">Saturday</h1>
				<div class="{% if saturday|length == '' %}justify-content-around {% else %}flex-column{% endif %} d-flex mt-3">
					<input type="hidden" name="booking_day" value="saturday">
					{% if saturday|length %}
						<span class="badge badge-pill badge-secondary col">{{ saturday }}</span>
						<button value="cancelled" name="booking_time" class="mt-2 btn btn-primary btn-dark bg-danger text-light btn-outline-danger">Cancel Flight</button>
					{% else %}
						<button value="morning" name="booking_time" class="btn btn-primary btn-dark">Morning</button>
						<button value="midday" name="booking_time" class="btn btn-primary btn-dark mx-2">Midday</button>
						<button value="evening" name="booking_time" class="btn btn-primary btn-dark">Evening</button>
					{% endif %}
				</div>
			</form>
			<form method="POST" action="/booking" class="bg-light shadow p-4 mb-5 rounded text-center" scope="col">
				<h1 name="day">Sunday</h1>
				<div class="{% if sunday|length == '' %}justify-content-around {% else %}flex-column{% endif %} d-flex mt-3">
					<input type="hidden" name="booking_day" value="sunday">
					{% if sunday|length %}
						<span class="badge badge-pill badge-secondary col">{{ sunday }}</span>
						<button value="cancelled" name="booking_time" class="mt-2 btn btn-primary btn-dark bg-danger text-light btn-outline-danger">Cancel Flight</button>
					{% else %}
						<button value="morning" name="booking_time" class="btn btn-primary btn-dark">Morning</button>
						<button value="midday" name="booking_time" class="btn btn-primary btn-dark mx-2">Midday</button>
						<button value="evening" name="booking_time" class="btn btn-primary btn-dark">Evening</button>
					{% endif %}
				</div>
			</form>
		</div>
	</main>
{% endblock %}
