{% extends 'layout.twig' %}

{% block body %}
	<main class="flights-container container mt-3">
		<h1>{{title}}</h1>
		<div class="row d-flex justify-content-around">
			<div class="col-5 bg-light shadow p-4 mb-5" scope="col">
				<h1>Monday</h1>
				<h3>number of booked seats : {{ monday|length }}</h3>
				<h3>number of cancelled seats : {{ mondayCancelled|length }}</h3>
			</div>
			<div class="col-5 bg-light shadow p-4 mb-5" scope="col">
				<h1>Tuesday</h1>
				<h3>number of booked seats : {{ tuesday|length }}</h3>
				<h3>number of cancelled seats : {{ tuesdayCancelled|length }}</h3>
			</div>
			<div class="col-5 bg-light shadow p-4 mb-5" scope="col">
				<h1>Wednesday</h1>
				<h3>number of booked seats : {{ wednesday|length }}</h3>
				<h3>number of cancelled seats : {{ wednesdayCancelled|length }}</h3>
			</div>
			<div class="col-5 bg-light shadow p-4 mb-5" scope="col">
				<h1>Thursday</h1>
				<h3>number of booked seats : {{ thursday|length }}</h3>
				<h3>number of cancelled seats : {{ thursdayCancelled|length }}</h3>
			</div>
			<div class="col-5 bg-light shadow p-4 mb-5" scope="col">
				<h1>Friday</h1>
				<h3>number of booked seats : {{ friday|length }}</h3>
				<h3>number of cancelled seats : {{ fridayCancelled|length }}</h3>
			</div>
			<div class="col-5 bg-light shadow p-4 mb-5" scope="col">
				<h1>Saturday</h1>
				<h3>number of booked seats : {{ saturday|length }}</h3>
				<h3>number of cancelled seats : {{ saturdayCancelled|length }}</h3>
			</div>
			<div class="col-5 bg-light shadow p-4 mb-5" scope="col">
				<h1>Sunday</h1>
				<h3>number of booked seats : {{ sunday|length }}</h3>
				<h3>number of cancelled seats : {{ sundayCancelled|length }}</h3>
			</div>
		</div>
	</div>
</div></main>{% endblock %}
